
.cartRoot{
    width: 100%;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    z-index: 1;
}


.cartElementImg {
    width: 100%;
    height: 100px;
    margin-top: var(--spacing-medium);
    object-fit: contain;
}

.elm{
  
    flex-direction: column;
    justify-content: flex-end;
    padding: 25px 20px;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}
.summ{
    margin: 1em 0 0.5em 0;
    color: #000000;
    font-weight: large;
    font-size: 14px;
    text-transform: uppercase;

}



#light {
    background-color: #ffffff;
  }
  
  #dark {
    background-color: #142136;
  }
