.root {
    position: relatiave;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: var(--spacing-large) auto;
}
.mainContainer{
    position: relative;
  
}
.cart{
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 100%;

  border: 1px solid rgb(199, 199, 199);
  
}