.header {
  margin: 1em 0 0.5em 0;
  color: #000000;
  font-weight: large;
  font-family: 'Ultra', sans-serif;
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
  /* text-shadow: 0 2px rgb(104, 100, 100), 0 3px #777; */
  margin-left: 40px;

}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

#light {
  background-color: #ffffff;
}

#dark {
  background-color: #142136;
}

